<% content_for :title, "Contact page" %>
<div class="row">
  <div class="col-md-6">
    <h2 class="col-md-6 mr-auto ml-auto">Get in touch </h2>
    <div class="card card-body">
      <%= render 'enquiries/form'%>

    </div>

  </div>

</div>
